@model CMS_Data.ModelDTO.PrintScaleDTO
@{
    var s = Model.Scale;
    var c = Model.Company;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Xem thử phiếu in</title>
    @*
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> *@
    <style>
        @@page {
            size: A4;
            margin: 10mm;
        }

        body {
            /* font-family: 'Roboto', Arial, sans-serif; */
            font-family: "Times New Roman", Times, serif;
            font-size: 12pt;
            color: #333;
        }

        .container {
            width: 170mm; /* vừa khổ A4 trừ margin */
            margin: 0 auto;
            padding: 10mm;
        }

        h1 {
            text-align: center;
            font-weight: 800;
            font-size: 28px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10mm;
            table-layout: fixed;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 5mm;
            text-align: left;
            word-wrap: break-word;
        }

        th {
            background-color: #007bff;
            color: white;
            font-weight: 700;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .highlight {
            font-weight: 700;
            color: black;
            font-size: 16px;
        }

        .header_1 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .header_2 {
            font-size: 16px;
            font-weight: 700;
        }

        .stt {
            text-align: center;
            font-weight: 700;
        }

        .row-item-container {
            display: flex;
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 10px;
            margin-top: 20px;
        }

            .image-grid img {
                width: 100%; /* mỗi ảnh chiếm hết ô */
                height: auto;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

        .two-columns {
            display: flex;
            gap: 20px; /* khoảng cách giữa 2 cột */
            margin-top: 20px;
        }

        .column {
            flex: 1; /* mỗi cột chiếm 50% */
        }

        .row-item-container {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 8px;
        }

            .row-item-container div:first-child {
                font-weight: bold;
                width: 120px; /* đặt độ rộng cố định cho cột label */
            }

        .info-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

            .info-table th,
            .info-table td {
                padding: 6px 10px;
                border: 1px solid #ddd;
                text-align: left;
                vertical-align: top;
            }

            .info-table th {
                width: 120px; /* cột label cố định */
                background-color: #f2f2f2;
                font-weight: bold;
                color: black;
            }


        .signature-1 {
            font-weight: 700;
        }

        .signature-section {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            text-align: center;
        }

        .signature-col {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* đẩy tên cột lên, chỗ ký xuống */
            height: 150px; /* chiều cao chung cho các cột */
        }

            .signature-col div:first-child {
                font-weight: bold;
            }

        .signature-placeholder {
            font-style: italic;
            font-size: 12px;
        }

        .scale-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

            .scale-table th,
            .scale-table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }

                .scale-table th.short {
                    width: 15%;
                }

                .scale-table th.long {
                    width: 26%;
                }

            .scale-table th {
                background-color: #fff;
                color: black;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header_1">@c.Name</div>
            <div class="header_2">Địa chỉ: @c.Address</div>
        </div>
        <h1>PHIẾU CÂN XE @s.Code</h1>
        <div class="stt">STT: @s.IndexInDay</div>
        <div class="">
            <table class="info-table">
                <tr>
                    <th>Hàng hóa</th>
                    <td>@s.ProductName</td>
                </tr>
                <tr>
                    <th>Khách hàng</th>
                    <td>@s.CustomerName</td>
                </tr>
                <tr>
                    <th>Địa chỉ</th>
                    <td>@s.CustomerAddress</td>
                </tr>
                <tr>
                    <th>Biển số xe</th>
                    <td>@s.Vehicle</td>
                </tr>
                <tr>
                    <th>Ghi chú</th>
                    <td>@s.Note</td>
                </tr>
                <tr>
                    <th>Số điện thoại</th>
                    <td>@s.CustomerPhone</td>
                </tr>
                <tr>
                    <th>Kiểu cân</th>
                    <td>
                        @(s.TypeId == 1 ? "Cân nhập hàng" :
                            s.TypeId == 2 ? "Cân xuất hàng" :
                            "Không xác định")
                    </td>
                </tr>
            </table>
        </div>
        <table class="scale-table">
            <thead>
                <tr>
                    <th class="short">TL xe vào</th>
                    <th class="short">TL xe ra</th>
                    <th class="short">TL hàng</th>
                    <th class="long">Ngày giờ cân vào</th>
                    <th class="long">Ngày giờ cân ra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="highlight">@String.Format("{0:N0} kg", s.WeightIn)</td>
                    <td class="highlight">@String.Format("{0:N0} kg", s.WeightOut)</td>
                    <td class="highlight">@String.Format("{0:N0} kg", s.ProductNumber)</td>
                    <td>@(s.TimeIn?.ToString("dd/MM/yyyy HH:mm"))</td>
                    <td>@(s.TimeOut?.ToString("dd/MM/yyyy HH:mm"))</td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="image-grid">
                @if (!string.IsNullOrEmpty(s.Img11))
                {
                    <img src="@s.Img11" alt="Ảnh 1" />
                }
                @if (!string.IsNullOrEmpty(s.Img12))
                {
                    <img src="@s.Img12" alt="Ảnh 2" />
                }
                @if (!string.IsNullOrEmpty(s.Img21))
                {
                    <img src="@s.Img21" alt="Ảnh 4" />
                }
                @if (!string.IsNullOrEmpty(s.Img22))
                {
                    <img src="@s.Img22" alt="Ảnh 5" />
                } 
            </div>
        </div>
        <div class="signature-section">
            <div class="signature-col">
                <div class="signature-1">Nhân viên bàn cân</div>
                <div class="signature-placeholder">(Ký và ghi rõ họ tên)</div>
            </div>
            <div class="signature-col">
                <div class="signature-1">Khách hàng</div>
                <div class="signature-placeholder">(Ký và ghi rõ họ tên)</div>
            </div>
            <div class="signature-col">
                <div class="signature-1">Lái xe</div>
                <div class="signature-placeholder">(Ký và ghi rõ họ tên)</div>
            </div>
        </div>
    </div>
</body>
</html>
